<!DOCTYPE html>
{% extends "sumgpt/base2.html" %}

{% block title_block %}
index
{% endblock %}

{% block body_block %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/index-style.css' %}">

<body>
<div id="splash">
<div id="splash-logo">Now Loading...</div>
<!--/splash--></div>
<div class="splashbg"></div><!---画面遷移用-->

<div id="container" class="container mt-5 d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <sv<!DOCTYPE html>
            {% extends "sumgpt/base2.html" %}
            
            {% block title_block %}
            index
            {% endblock %}
            
            {% block body_block %}
            <div class="container mt-5 d-flex justify-content-center align-items-center vh-100">
                <div class="text-center">
                    <h1 class="display-4 bold-text">Welcome to SumGPT</h1>
                    <div class="mt-4">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'SpeechRecognition' %}" class="btn btn-secondary" role="button">要約する</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="btn btn-secondary" role="button">ログイン</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <script>
                // ページが読み込まれたときにダークモードの状態を取得
                var isDarkMode = localStorage.getItem('darkMode') === 'enabled';
            
                // ダークモードスイッチの状態に応じてdata-bs-theme属性を設定
                if (isDarkMode) {
                    document.body.setAttribute('data-bs-theme', 'dark');
                } else {
                    document.body.removeAttribute('data-bs-theme');
                }
            </script>
            <!--機能説明をしていきたい-->
            
            
            {% endblock %}
        </div>
    </div>
</div>
</body>

<script>
    // ページが読み込まれたときにダークモードの状態を取得
    var isDarkMode = localStorage.getItem('darkMode') === 'enabled';

    // ダークモードスイッチの状態に応じてdata-bs-theme属性を設定
    if (isDarkMode) {
        document.body.setAttribute('data-bs-theme', 'dark');
    } else {
        document.body.removeAttribute('data-bs-theme');
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{% static 'js/index-style.js' %}"></script>
<!--機能説明をしていきたい-->


{% endblock %}