<!DOCTYPE html>
{% extends "sumgpt/base2.html" %}

{% block title_block %}
Signup
{% endblock %}

{% block body_block %}
<div class="position-relative"
    style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #f5f5f5;">
    <div class="position-absolute top-50 start-50 translate-middle" style="width: 400px;">
        {% if form.errors %}
        <div class="alert alert-danger fade show" role="alert">
            <strong>エラーが発生しました：</strong>
            <ul>
                {% for field, error_list in form.errors.items %}
                {% for error in error_list %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="card shadow-sm">
            <div class="m-3">
                <h2 class="text-center mb-4 bold-text">SumGPT</h2>
                <form method="post" action="{% url 'signup' %}" class="form-group">
                    {% csrf_token %}
                    {% for item in form %}
                    <div class="form-group m-2">
                        <label for="{{item.id_for_label}}">{{item.label}}</label>
                        <input type="{{item.field.widget.input_type}}" class="form-control"
                            {% if item.field.required %}required{% endif %} name="{{item.name}}"
                            id="{{item.id_for_label}}">
                    </div>
                    {% endfor %}
                    <div class="text-center mt-4">
                        <button type="submit" class="submit btn btn-dark">登録</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-center">既にアカウントをお持ちの方は<a href="{% url 'login' %}" class="text-secondary" style="text-decoration: none;">こちら</a></p>
    </div>
</div>
{% endblock %}