<!DOCTYPE html>
{% extends "sumgpt/base.html" %}

{% block title_block %}
Speech
{% endblock %}

{% block body_block %}
<style>
    #loading-animation {
        display: none;
    }
</style>
<div class="m-5">
    <h1 class="bold-text text-center">SumGPT</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="m-3">
            <label for="{{ form.document.id_for_label }}" class="form-label">{{ form.document.label_tag }}</label>
            <input class="form-control" type="file" id="{{ form.document.id_for_label }}" name="document">
            <div class="text-center m-3">
                <button type="submit" class="btn btn-secondary">開始</button>
            </div>
        </div>
    </form>

    <div id="summary-container" class="m-3">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled"
                style="height: 100px" disabled>{{ transcribe_result }}</textarea>
        </div>
    </div>


    <div id="loading-animation" class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">処理中...</span>
        </div>
        <p>処理中...</p>
    </div>
</div>


<script>
document.querySelector('form').addEventListener('submit', function (e) {

// 処理中アニメーションを表示
document.getElementById('loading-animation').style.display = 'block';

// 1秒ごとにチェック
var interval = setInterval(function () {

    // テキストを取得
    var transcribeResult = document.getElementById('floatingTextarea2Disabled').textContent;

    // 正規表現を使用して一文字以上の文字列を検索
    var pattern = /.+/; // 一文字以上の文字列を表す正規表現
    if (pattern.test(transcribeResult)) {
        document.getElementById('loading-animation').style.display = 'none';
        clearInterval(interval); // 条件が満たされたらチェックを停止
    }
}, 1000); // 1秒ごとにチェック（適宜時間を調整）
});

</script>
{% endblock %}