<!DOCTYPE html>
{% extends "sumgpt/base.html" %}

{% block title_block %}
index
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <h1 class="bold-text text-center">SumGPT</h1>
                <button id="startButton" class="btn btn-secondary">音声認識開始</button>
                <button id="stopButton" class="btn btn-danger" style="display:none;">音声認識終了</button>
                <button id="rec" class="btn btn-danger" type="button" disabled style="display:none;">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    録音中
                </button>


                {% comment %} 業界指定の実装 {% endcomment %}
                <select id="inputState" class="form-select">
                    <option selected>業界を指定</option>
                    {% comment %} 下の[selectedOption]には、このvalueの値が入る {% endcomment %}
                    <option value="1">農業・林業・漁業</option>
                    <option value="2">建設業</option>
                    <option value="3">電気・ガス・熱供給・水道業</option>
                    <option value="4">製造号</option>
                    <option value="5">運輸業</option>
                    <option value="6">情報通信業</option>
                    <option value="7">卸売・小売業</option>
                    <option value="8">金融・保険業</option>
                    <option value="9">飲食・宿泊業</option>
                    <option value="10">不動産業</option>
                    {% comment %} 業界を増やしていきたいですね😀 {% endcomment %}
                </select>


            </div>
            <div class="mb-3">
                <form method="post" action="{% url 'sp' %}">
                {% csrf_token %}
                <textarea name="data" id="re" class="form-control" cols="30" rows="10" readonly></textarea>
                <button type="submit" id="sumButton" class="btn btn-secondary" style="display:none;">要約</button>
            </form>
            </div>
            <div id="transcription" class="mt-3"></div>
        </div>
    </div>
</div>

<script>
        let isRecognizing = false;
        //APIの初期設定
        const recognition = new webkitSpeechRecognition();
        recognition.lang = 'ja-JP';
        recognition.interimResults = true;
        recognition.continuous = true;

        //DOM要素の読み込み
        const startButton = document.getElementById('startButton');
        const stopButton = document.getElementById('stopButton');
        const rec = document.getElementById('rec');
        const sumButton = document.getElementById('sumButton');
        const re = document.getElementById('re');

        //スタートボタンがクリックされた時の操作
        startButton.addEventListener('click', () => {
            isRecognizing = false;
            if (!isRecognizing) {


                    //単語登録
                    const grammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> = 決定 | 判断 | 理由 | 案件 | 否決 | 再検討 | 再調整 | 保留 | 資料 | 補足資料 | 参考意見 | 社長一任 | アサイン ;';

                    const SpeechGrammarList = window.webkitSpeechGrammarList || window.SpeechGrammarList;
                    const speechRecognitionList = new SpeechGrammarList();
                    speechRecognitionList.addFromString(grammar, 1);

                    //業界選択をした場合の処理
                    const selectElement = document.getElementById("inputState");
                    const selectedOption = selectElement.options[selectElement.selectedIndex].value;
                    if (selectedOption == 1) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> = 価格均一化 | 希少性 | 安定供給 | ブランド | リサイクル | 再生材料・リサイクル材料 | 企業ネットワーク | 手作り生産 | 独自技術 | 有機栽培 | 受託生産 | 特許保有 | 販売店販売 | チェーン展開 | タイアップ販売 | サンプル販売 | 保証期間延長 | トレーサビリティ ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }

                    else if (selectedOption == 2) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> = 価格均一化 | 独自技術 | 希少性 | 信頼性 | 高技能人材 | 再生材料・リサイクル材料 | 直接仕入れ | プレ加工生産 | 現場加工 | 独自技術 | 受託生産 | 一括請負 | 事業連携 | 中間検査 | 特許保有 | 独自営業力 | 提案販売 | 販売店販売 | チェーン展開 | タイアップ販売 | 保証期間延長 | 会員制 | 定期メンテナンス ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 3) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 4) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 5) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 6) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 7) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }

                    else if (selectedOption == 8) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                    
                    else if (selectedOption == 9) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }

                    else if (selectedOption == 10) {
                        const customGrammar = '#JSGF V1.0 JIS ja; grammar numbers; public <numbers> =  |  |  |  |  |  |  |  |  |  |  |  |  ;';
                        speechRecognitionList.addFromString(customGrammar, 1);
                        }
                
                    //選択業界を増やすときはこのしたに書いていくのがいいかも！！
                    //上のelse if文をコピペでいけます
                    recognition.grammars = speechRecognitionList;



                    console.log(selectedOption);
                    recognition.start();
                    //下の関数の呼び出し
                    startrec();
                    startButton.style.display = 'none';
                    stopButton.style.display = 'inline-block';
                    rec.style.display = 'inline-block';
                    }
                });

        //ストップボタンがクリックされた時の操作
        stopButton.addEventListener('click', () => {
            //下の関数の呼び出し
            stoprec();
        });

        function startrec() {
            recognition.onresult = (event) => {
                let interimTranscript = '';
                let finalTranscript = '';

                for (let i = event.resultIndex; i < event.results.length; i++) {
                    const transcript = event.results[i][0].transcript;
                    if (event.results[i].isFinal) {
                        finalTranscript += transcript + '\n';
                    } else {
                        interimTranscript += transcript + ' ';
                    }
                }

                document.getElementById('transcription').textContent = interimTranscript.trim();
                re.value = (re.value + finalTranscript).trim() + "\n";
    }
}

        function stoprec() {
            recognition.stop();
            startButton.style.display = 'inline-block';
            stopButton.style.display = 'none';
            rec.style.display = 'none';
            isRecognizing = true;
            if (re.value != '') {
            sumButton.style.display = 'inline-block';
            }
        }

</script>


{% endblock %}